<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body>
    <% include partials/nav.ejs %>
    <!--test form-->
    <form action="/addPic" method="post">
      <button class="btn btn-primary">Submit</button>
    </form>


    <% include partials/modal.ejs %>
    <% include partials/footer.ejs %>
  </body>

</html>
